{%  extends 'base.html' %}



{%  block content %}

<style>
#interface-container {
    height: 100%;
}
#interface-table {
    width: 100%;
    height: 100%;
}
.interface-border {
    border: 5px solid #290d49;
    border-radius: 10px;

    border-collapse: collapse;
}
.left-colbar {
    vertical-align: top;
    background-color: aliceblue;
    width: 50%;
    height: 33%;

}
.right-colbar {
    vertical-align: top;
    background-color: #f7f9fd;

    width: 50%;
}
.interface-subplot-header {
    text-align: center;
    height: 10%;
}
.interface-subplot {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
}


</style>

<div id=interface-container>
    <table id="interface-table" >

    <tr class="interface-border">
        <td class="interface-border left-colbar">
            {% include 'interfacechild/reference.html' %}
        </td>
        <td rowspan="3" class="interface-border right-colbar">
            {% include 'interfacechild/results.html' %}
        </td>
    </tr>
    <tr class="interface-border">
        <td class="interface-border left-colbar">
            {% include 'interfacechild/sample.html' %}
        </td>
    </tr>
    <tr class="interface-border">
        <td class="interface-border left-colbar">
            {% include 'interfacechild/controls.html' %}
        </td>
    </tr>
</table>
</div>
<!-- Process handling of spectral matching requests. -->
<script>
// process handling of spectral matching requests.

var refInterval = window.setInterval('tempupdate()', 1000);

var tempupdate = function(){
    $.ajax({
            type: "POST",
            dataType: "json",
            url: '/API/scan_progress',
            data: {'data': '{{ token }}'},
            success: function (data) {
                $("#bar").css("width", data.update_pct + "%");



            }

        }



    )
}


$(function() {
$('#search').click(function() {

var form_data = new FormData($('#spectral-match-form')[0]);
$('#controls').css('visibility', 'hidden');
$('#loading').css("visibility", 'visible');
$('#loading').css('display', 'inherit')

$.ajax({
    type: 'POST',
    url: 'API/search',
    data: form_data,
    contentType: false,
    cache: false,
    processData: false,
    dataType: "json",


    success: function(data) {
        $('#loading').css('visibility', 'hidden');
        $('#loading').css('display', 'none');

        $('#results').html(data.html);
        $('#controls').css('visibility', 'visible');


    },
});
});
});
</script>

<!-- Fetch JSON of ions from server-side once DOM is loaded -->
<script>

$(document).ready(function(){
    // Update listing of reference ions.

    $.ajax({ url: "API/reference_ion_json?session_id={{ token }}&relative_ion_cutoff=0.07",
            context: document.body,
            dataType: 'json',
            success: function(data) {
                $('#reference-ion-count').text(Object.keys(data.ions).length);
                $('#reference-ion-list').html(data.html);


            }});

    // Update listing of sample ions.
    $.ajax({ url: "API/sample_ion_json?session_id={{ token }}&relative_ion_cutoff=0.07",
            context: document.body,
            dataType: 'json',
            success: function(data){
            $('#sample-ion-count').text(Object.keys(data.ions).length);
            $('#sample-ion-list').html(data.html);
            var l = Object.keys(data.ions).length;
            document.getElementById('loading').style.visibility =  'hidden';
            document.getElementById('loading').style.display =  'none';

            document.getElementById('controls').style.visibility = 'visible';



                }



            // Start listing ions in the scrollable table

        });
});


</script>

{% endblock %}