<style>
    .ion-table-tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
<table style="width: 100%; table-layout: fixed; word-wrap:break-word;" id="{{ mode }}_tbl">
    <thead>
     <tr>
        <th role="columnheader">Name</th>
        <th role="columnheader">[M+H]<sup>+</sup></th>
        <th role="columnheader">Scan</th>
        <th role="columnheader">Search</th>

    </tr>

    </thead>



    {% for spectrum in data %}

        <tr class="ion-table-tr" >


            <td style="width:30%">
                <i>{{ spectrum[1].title }}</i>
            </td>
            <td style="width:30%">
                 {{ spectrum[1].pepmass }}
            </td>
            <td style="width:30%">
                {{ spectrum[1].scan }}
            </td>
            <td style="text-align: center; margin-left: 10px;"><input form="spectral-match-form" type="checkbox" name="include_{{ mode }}" value="{{ spectrum[1].id }}" {%  if spectrum[1].checked %} checked {% endif %} ></td>


        </tr>

    {% endfor %}
</table>
<script>
    new Tablesort(document.getElementById('{{ mode }}_tbl'));

</script>